<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>

<head>
    <title>TimeDial - {{ title }}</title>
</head>

<body>
    <p>
        {% for page in all_pages %}
        {% if page == title %}
        <strong>{{ page }}</strong>
        {% else %}
        <a href="{{ page.lower() }}.html">{{ page }}</a>
        {% endif %}
        {% if not loop.last %}&nbsp;&nbsp;&nbsp;{% endif %}
        {% endfor %}
        &nbsp;&nbsp;&nbsp;<a href="/webssh">Web based SSH</a>
    </p>

    {{ content }}

</body>

</html>
